a {
    margin-right: 10px;
}

.signout {
    position: absolute;
    margin-top: 5vh;
    margin-left: 30vw;
}

.submission {
    text-align: center;
}

.profile-button {
    background-color: #fcca03;
    position: absolute;
    right: 0vw;
    top: 0vh;
    margin-top: 2vh;
    margin-right: 1vw;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color:#fcca03;
    color: black;
}

.nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.about {
    margin-left: 25vw;
    margin-right: 25vw;
}

.exploreTableCell {
    padding-right: 2.5vw;
    padding-left: 2.5vw;
}

.results {
    text-align: left;
    padding-left: 25vw;
    padding-right: 25vw;
}

.DropdownButton {
    position: absolute;
    right: 0vw;
    width: 10%;
}

.application {
    text-align: left;
    padding-left: 25vw;
    padding-right: 25vw;
}


.input, label {
    display: block;
    margin-top: 20px;
}

.dropdown-navbar {
    right: 0vw;
}