.App {
  font-family: Andale Mono, monospace;
  text-align: center;
  background-color: #ffeda6;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type=text] {
  width: 60%;
  padding: 4px 8px;
}

select {
  margin: 8px 0;
  padding: 4px 8px;
}

input[type=submit] {
  background-color: #ffcf12;
  padding: 4px 16px;
  border-radius: 8px;
}

.footer {
  background-color: #ffeda6;
}